html,
body {
  background-image: linear-gradient(135deg, #ffffff 0%, #97a7c2 100%);
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

header {
  font-family: "Dawning of a New Day", cursive;
  font-size: 24px;
  margin: 0 auto;
  text-align: left;
}

form {
  text-align: left;
}

h1 {
  font-size: 26px;
  margin: 30px auto 0 auto;
  color: pink;
}

footer {
  font-size: 12px;
  color: white;
  margin-top: 8px;
}

.weather-page-wrapper {
  max-width: 500px;
  min-width: 500px;
  margin: 50px auto 50px auto;
}

.weather-page {
  background-image: linear-gradient(to right, #b4a28a 0%, #304352 100%);
  border-radius: 5px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  height: 550px;
  padding: 60px 20px;
  text-align: center;
}

.search-bar {
  width: 40%;
}

.button,
.current-button {
  padding: 1px 6px;
  color: grey;
}

.current-button {
  position: relative;
  border: none;
}

.current-temp {
  font-size: 90px;
  font-weight: 900;
  line-height: 150%;
}

.units {
  font-size: 17px;
  position: relative;
  top: -45px;
}

.last-updated {
  font-size: 12px;
  margin-bottom: 0;
}

.day-time {
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 0;
}

.current-text {
  margin-bottom: 0;
  font-size: 16px;
}

.current-text::first-letter {
  text-transform: capitalize;
}

.forecast {
  flex-wrap: wrap;
  font-size: 12px;
  padding: 60px 10px;
  font-weight: bold;
}

.celsius-link:hover,
.fahrenheit-link:hover {
  color: blue;
}

.git-link {
  color: rgb(252, 159, 175);
}

.git-link:hover {
  color: red;
}

.temp-block .active {
  color: black;
}

.temp-block .active:hover {
  cursor: default;
}

.celsius-link,
.fahrenheit-link {
  color: white;
  text-decoration: none;
}
